$scrolbarWidth: .25em

::-webkit-scrollbar
  width: $scrolbarWidth

::-webkit-scrollbar-track
  border-radius: $scrolbarWidth

::-webkit-scrollbar-thumb
  background-color: #FFF
  border-radius: $scrolbarWidth
