$panelBorder: 1px solid #000

#JourneyLeft
  border-right : $panelBorder

#JourneyMainContainer
  border-bottom : $panelBorder

#JourneyRight
  border-left: $panelBorder

#JourneyPlaceLine1Container, #JourneyPlaceLine2Container
  background-color: #333
