#PreambleRegForm .Combo, #PreambleRegForm .Label, #PreambleRegForm .Text
  $width       : 23%
  width        : $width
  margin-left  : (100% - (4 * $width)) / 5
  margin-right: 0

#PreambleRegForm .Label
  display: inline-block

@import "ai-styles"
@import "map-styles"
